github "DaveWoodCom/XCGLogger" ~> 4.0.0
github "rnine/AMCoreAudio" "develop"
github "PureLayout/PureLayout" ~> 3.0.0
github "sparkle-project/Sparkle" ~> 1.15
github "ReactiveKit/ReactiveKit" ~> 3.1
github "potionfactory/LetsMove" ~> 1.9
github "alexzielenski/StartAtLoginController" "master"
github "andreyvit/yoursway-create-dmg" "master"
