github "DaveWoodCom/XCGLogger" ~> 3.3
github "rnine/AMCoreAudio" ~> 3.0
github "PureLayout/PureLayout" ~> 3.0.0
github "potionfactory/LetsMove" ~> 1.9
github "sparkle-project/Sparkle" ~> 1.13.1
github "alexzielenski/StartAtLoginController" "master"
github "andreyvit/yoursway-create-dmg" "master"
github "SwiftBond/Bond" ~> 4.3.1
github "rnine/SwiftTryCatch" "master"
