github "DaveWoodCom/XCGLogger" ~> 3.3
github "rnine/AMCoreAudio" ~> 3.0
github "PureLayout/PureLayout" ~> 2.0.6
github "potionfactory/LetsMove" ~> 1.9
github "sparkle-project/Sparkle" ~> 1.13.1
github "alexzielenski/StartAtLoginController" "master"
github "andreyvit/yoursway-create-dmg" "master"
